@model SirketYoneticisiLoginViewModel

@{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-danger">@TempData["Message"]</div>
    }
}

<form asp-action="Login" asp-controller="SirketYoneticisiLogin" method="post">

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <label asp-for="Parola">Parola</label>
        <input asp-for="Parola" id="password" type="password" class="form-control" />
        <span asp-validation-for="Parola"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Giriş Yap</button>
    <hr />

</form>